body {
  /* background-color: rgb(203, 67, 78); */
  background-image: url("../img/weather.png");
}

.jumbotron{
  background-image: url("../img/house2.jpg");
  opacity: 0.75;
  background-size: cover;

}

h1{
  font-size: 50px;
  font-family: 'Anton', sans-serif;
  text-align: center;
}

h2, h3, button, form{
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
}

h3 {
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  color: rgb(128, 135, 136);
}

button{
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  font-size: 14px;
}

#name{
  height:70px;
  font-size:12pt;
  font-family: 'Open Sans Condensed', sans-serif;
}

img {
  display: block;
  margin: auto;
  width: 30%;
}

 table {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 15px;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  background-color: rgb(255, 255, 255);
}

thead{
  background-color: rgb(34, 146, 171);

}

td, th {
  border: 1px solid rgb(0, 0, 0);
  text-align: left;
  padding: 5px;
}
